* {
   
   margin-block: auto;}



.menu_lateral { list-style-type: none ;
                margin: 15% 0;
                text-align: justify ;
               
               
                
}

 .navegacao {
            background-color: #56578f;
            width: 15vw;
            height: 100vh;
            margin-top: 0;
            margin-right: 0;
            margin-inline: 0;
            
             
            }

#fotovictor {margin-top: 20% ;
             border-radius: 50% ;
             border-style: groove;
             border-color: white;
             text-align: right;
             width: 75%px;
             height: 80%;
              }


.div1 {
         text-align: center ;
}



a {color: #ffffff;
           text-decoration: none;
           font-weight: bold;             
           font-family: Verdana, Geneva, Tahoma, sans-serif;}

           .fundopagina {background-color: #efeee7;}
                         

       .ficha {
                margin-top: -80vh ;
               }

        .nome  {font-size: 65px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                word-spacing: 10px;
                font-weight: bold;
                margin-left: 290px;
                 }
        
        .dados {
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin-left: 12%;
            text-align: center;}
        
        
        .redesocial {margin-top: 50px;
                     margin-left: 310px;
                
               }
        
        .perfil { 
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                margin-left: 305px;
                   }

        .dados2 {font-size: 20px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                
                text-align: center;}

        #logo {text-align: center;
               margin-top: -80vh;
               
                }

          #aside2 {margin-top: -500px ;
                   margin-left: 19vw;}  
          
          #descricao {text-align: left;
                font-size: 30px;
                   font-weight: 100;
                      
                      }

         #thead2 {font-size: 30px;
                   font-weight: 100;}

         li {font-size: 20px;
             margin-top: 15px;}          
                   